cv/cat/cat-1941089_1280.jpg filter=lfs diff=lfs merge=lfs -text
cv/cat/cat-2605502_1280.jpg filter=lfs diff=lfs merge=lfs -text
cv/dog/dachshund-1519374_1280.jpg filter=lfs diff=lfs merge=lfs -text
cv/dog/dog-1787835_1280.jpg filter=lfs diff=lfs merge=lfs -text
cv/dog/dog-2785066_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/dog/dog-2561134_1280.jpg filter=lfs diff=lfs merge=lfs -text
cv/cat/animal-1837067_1280.jpg filter=lfs diff=lfs merge=lfs -text
cv/cat/cat-3336579_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/cat/cat-1045782_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/cat/cat-1151519_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/cat/cat-2143332_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/cat/cat-300572_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/dog/dog-3277416_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/dog/dog-4372036_1280.jpg filter=lfs diff=lfs merge=lfs -text
cv/cat/cat-2934720_1280.jpg filter=lfs diff=lfs merge=lfs -text
cv/dog/labrador-retriever-1210559_1280.jpg filter=lfs diff=lfs merge=lfs -text
cv/dog/puppy-1903313_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/cat/cat-1192026_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/dog/dog-813103_1280.jpg filter=lfs diff=lfs merge=lfs -text
train/dog/weimaraner-1381186_1280.jpg filter=lfs diff=lfs merge=lfs -text
